.boxCard {
    width: 30%;
    height: 80%;
    margin: 0 10px;
    border-radius: 15px;
    background-color: #dddddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .2s ;

  
}

.boxCard:hover {
    transform: scale(1.09);
}


.boxCard h2 {
    color: blue;
    font-weight: 400;
    margin-top: 5px;
}

.boxCard p {
    margin: 5px;
}

